@import './variable.scss';
.yellow-button {
  padding: 10px;
  background-color: #ffdd2d;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 2px 2px 0px 0px $darkGrey;
  &:hover, &:active {
    box-shadow: none;
    cursor: pointer;
  }
}