$h2fz: 18px;
$headers: 35px;
$navPad: 15px 15px;
$navLiColor: #757575;
$message: rgba(220,248,198, 0.5);
$messageAnotherUser: rgba(255,255,255,0.5);
$darkGrey: #eef2f7;
$yellowButton: #ffdd2d;
$errorColor: #f79494;
$navBackgroundColor: #f6f7f8;
$navLiColorHover: #000000;
$navLogout: #336fee;